li {
    display: inline;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: red;
}
a:hover {
    color: blue;
}
body {
    background: white;
}
.clearfix {
    color: white;
    word-spacing: 6px;
    font-family: helvetica;
}
#link {
    padding-left: 700px;
}

img {
    border-radius: 50%;
    padding: 20px 80px;
}
.photo {
    width: 350px;
    height: 500px;
    border: 1px solid black;
    background: blue;
    color: silver;
}
section {
    border: 1px solid black;
    width: 950px;
    height: 500px;
    background: blue;
    margin-bottom: 400px;
    float: right;
}
.clearfix {
    overflow: auto;
}
h1 {
    color: blue;
    font-family: AR JULLIAN;
}